@import url(https://fonts.googleapis.com/css?family=Poiret+One);

*{
font-size:inherit;
font-weight:inherit;
font-family:inherit;
font-style:inherit;
line-height:inherit;
color:inherit;
text-decoration: none;
}

html{
  min-height: 100vh;
  min-width: 100vw;
  background-position: top;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url('Images/IMG_3768.JPG') repeat fixed 100%;

}

nav ul{
  list-style-type: none;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

body{
  width: 100%;
  height: 100vh;
  font-family: Poiret One;
  color: #9CFFDD;
}

#face {
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 text-shadow: 3px 3px 5px black;
 padding: 4px;
 /*background: url('Images/IMG_3768.JPG') repeat fixed 100%;*/
}

#face header{

}

#face img{
  width: 20%;
  border-radius: 50%;
  border: 2px solid white;
}
#bholder{
  margin: 40px;
  height: 50vh;
  width: 100%;
  padding: 40px;
  text-align: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#flexbox-background{
  background: url('Images/IMG_3768.JPG') repeat fixed 100%;
  margin: 40px;
  padding: 40px;
  width: 100%;
  color: #fff;
  font-size: 22px;
  text-shadow: 2px 2px 2px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#bio {
}
