@import url(https://fonts.googleapis.com/css?family=Dosis);

*{
font-size:inherit;
font-weight:inherit;
font-family:inherit;
font-style:inherit;
line-height:inherit;
color:inherit;
text-decoration: none;
}
html{
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body{
/* position: fixed;*/
  height: auto;
/* width: 95vw;*/
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: black; //#3D3D47;
/*outline: 2px solid red;*/
  }
nav{
  width: 100vw;
  font-family: Dosis;
  letter-spacing: 2px;
  margin: auto;
  color:#fff;

    background: url(Images/IMG_3712.JPG) repeat fixed 100%;
  }

ul{
  /*width: 50vw;*/
  /*height: 5vh;*/
  text-decoration: none;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 10%;
  padding-bottom: 10%;
}
ul li{
text-shadow: 3px 5px 10px black;
text-decoration: none;
font-size: 20px;
/*transition: text-shadow .5s;*/
}

section{
  text-align: center;
  /*height: 100%;*/
}


header p{
font-family: Dosis;
color: aquaMarine;
font-size: 20px;
letter-spacing: 3px;
}

header h1{
  /*width: 100%;*/
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 4px;
  font-family: Dosis;
  color: #ccc;
  text-shadow: 8px 4px 8px aquaMarine;
}
header{

}

#face{
/*width: 500px;*/
height: 60vh;
display: flex;
justify-content: center;
align-items: center;
background-color: black;

}
#bholder{
  width:100vw;
  /*height: 10vh;*/
  justify-content: space-around;
  align-self: center;
  margin: auto;
  /*overflow-y: scroll;*/
  padding-top: 20%;
  padding-bottom: 20%;
  background-position: 0;
  background: url(Images/IMG_3712.JPG) repeat fixed 100%;
}
#bio {

  text-align: center;
  background-color: black;
}
#bio p{
  justify-content: center;
  align-self: center;
  font-family: Dosis;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  text-shadow: 5px 5px 20px aquaMarine;
  /*position: sticky;*/
}
#bio p:hover{


}

#face img{

  width: 100px;
  border-radius: 50%;
  transition: transform .2s, box-shadow 2s, border-radius 1s, src 1s,border 1s;
}
#face img:hover{
  box-shadow: -5px 0px 100px 2px aquaMarine;
  transform: rotate(8640deg);
  border-radius: 4%;
  border: .5px solid aquaMarine;

}
ul li:hover{
  text-shadow: 5px 5px 20px aquaMarine;
}
